body{
  position: relative;
}

div.body-content{
  margin: 0 auto;
  width: 100%;
  margin-top: 100px;
}

img.ghost-profile {
  float: left;
}

img {
  width: 100%;
} 

#Navigation {
  display: block;
  width: 100%;
  position: fixed;
  top: 0px;
  left: 10px;
  z-index:1;
}

#Navigation > div {
  display: relative;
  width: 100%;
}

#Navigation img{
  display: block;
  width: 96px;
}

#Navigation img.ghost-profile{
  transition: 3s transform;
  border: 5px solid white;
  z-index:2;
  position: absolute;
  top: 15px;
}

#Navigation img.ghost-profile:hover{
  animation: rainbow 2s linear alternate infinite;
}

@keyframes rainbow{
  0%{ border-color: rgba(255,0,0) }
  33% { border-color: rgba(0,0, 255)}
  66% {border-color: rgba(0,255,0)}
  100% {border-color: white }
}

#Navigation > ul {
  list-style: none;
  padding: 0px;
  border-bottom: 1px solid lightblue;
  z-index: 1;
  position: absolute;
  top: 0px;
  left: 48px;
  width: 100%;
}

#Navigation > ul > li{
  border-bottom: 3px solid lightblue;
  padding-bottom: 5px;
  background-color: #000;
  overflow-x: hidden;
  position: absolute;
  width: 80%;
  padding-left: 64px;
  transition: 1s all;
}

#Navigation > ul > li:nth-child(2) {
  left: 15px;
  top: 32px;
  transition: 1.2s all;
}

#Navigation > ul > li:nth-child(3) {
  top: 64px;
  transition: 1.4s all;
}
#Navigation > ul > li:nth-child(4) {
  top: 96px;
  transition: 1.6s all;
}

#Navigation > ul > li.nav-collapsed{
  width: 0px;
  /*animation: shrinking-box 1s linear;*/
}

@keyframes shrinking-box{
  0%{ width: 100%; }
  100% { width: 0%; }
}

#Navigation > ul > li > a{
  text-decoration: none;
  color: white;
  font-size: 1.4em;
  width: 100%;
}


#Navigation > ul > li.nav-collapsed > a{
}

@keyframes shrinking-box-text{
  0%{ 
    margin-left: 0px;
    display: inherit;
  }
  100% {
    margin-left: -50px;
    display: none;
  }
}

#Navigation > ul > li:hover{
  background-color: #9B56C9;
}

#Navigation > ul > li:hover > a{
}

#Navigation > div > img {
  margin: 0 auto;
}

#BannerMessage{
  display: none;
}

#BannerMessage > h2{
  color: #F5607A;
  text-align: center;
}

#Resume { 
}

.circle{
  border-radius: 75%;
}

@media screen and (min-width:959){
  div.body-content{
    margin-top: 0px;
  }
}
